
BikeAI/unparsedData/2014Q2-capitalbikeshare-tripdata.csv
BikeAI/unparsedData/2014Q3-capitalbikeshare-tripdata.csv
BikeAI/unparsedData/2014Q4-capitalbikeshare-tripdata.csv
BikeAI/unparsedData/2015Q4-capitalbikeshare-tripdata.csv
BikeAI/unparsedData/2016Q1-capitalbikeshare-tripdata.csv
BikeAI/unparsedData/2016Q2-capitalbikeshare-tripdata.csv
BikeAI/unparsedData/2016Q3-capitalbikeshare-tripdata.csv
BikeAI/unparsedData/2016Q4-capitalbikeshare-tripdata.csv
ignored/
*.csv
